#header{
	border-bottom:1px solid #ddd;
}

#header .top_title{
	font-weight: 600;
    display: inline-block;
    font-size: 1.3rem;
    min-width: 201px;
	margin-left: 15px;
}

#header .header_inner{
	display: flex;
    max-height: 75px;
    align-items: center;
    background-color: #fff;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
#header .header_inner h1{
	width:10%;
}
#header .header_inner nav{
	height:100%;
	width:86%;
	text-align:right;
}

#header .header_inner ul{
	display : inline-block;
	height:100%;
}

#header .header_inner nav li{
	display:inline-block;
	margin-right:5vw;
	font-size:1.2rem;
	font-weight:600;
	line-height: 4.25rem;
}

#header .header_inner nav li.login_area{
	font-size:1rem;
	margin-right:0px;
	position: relative;
	padding-right: 15px;
	min-width: 75px;
}

#header .header_inner nav li.login_area .thumb{
	position: relative;
	height: 100%;
	vertical-align: middle;
	width: 2vw;
	height: 2vw;
	display:inline-block;
	border-radius: 10px;
}

#header .header_inner nav li.login_area .thumb .unknown_image {
	font-size: 1.3rem;
}

#header .header_inner .img-profile{
	vertical-align:middle;
	border-radius:30px;
	height: 50px;
}
#header .header_inner .drop_menu{
}


#header .header_inner .memb_wrap{
	min-width : 55px;
}
#header .header_inner li ul{
	position:absolute;
	right:0;
	width:100%;
	min-width: 120px;
	height:auto;
	border:0px;
	line-height:2rem;
	background-color: #ffffff;
	background-color: rgba( 255, 255, 255, 0.5 );
	
	border-radius: 6px;
    text-align: left;
    
	cursor: pointer;
    
  	 display:none; 
    
}


#header .header_inner li li{
    display: block;
    margin-right: 0px;
    font-size: 13px;
    font-weight: 500;
    line-height: 25px;
    
    padding-left:14px;
    padding-right:14px;
    
	line-height: 2.5rem;
}

#header .header_inner li li:hover{
	text-decoration: underline;	
}

#header .user_mark{
	margin-right:9px;
	opacity:0.5;
}

#header .header_inner .memb_wrap .login_icon{
	margin-right: 5px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%; 
}

#footer .inner{
    padding: 30px;
    background-color: #222222
}
#footer .inner p{
	color:#666;
	font-size:15px;
	margin-bottom:3px;
}
#footer .inner p.pc3{
	margin-top:18px;
}
#btn_top{
	position:fixed;
	bottom:20px;
	right:50px;
	z-index:999;
	display:none;
}
#btn_top span{
	display:table-cell;
	width:60px;
	height:60px;
	background-color:#DBB557;
	color:#fff;
	border-radius:50px;
	cursor:pointer;
	vertical-align:middle;
	font-size:14px;
	text-align:center;
}
#btn_top span:before{
	display:block;
	content:url(/resources/images/common/top_arr.png);
}

.page_wrap {
	position: relative;
    min-height: 100%;
    padding-bottom: 100px;
    padding-top:69px;
}

.page_wrap.login{
    background: url(/resources/images/index/whitecup.jpg)no-repeat top center;
    background-size: cover;
    background-position: center;
}

.page_wrap.list .content ul li {
    position: relative;
    width: calc(33% - 25px);
    margin: 11px;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    max-height: 325px;
    min-height: 52vh;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.container {
	width: 70vw;
	margin : 0 auto;
	/* width : 1200px; */
}

.container.page_container {
    margin-top: 20px;
}

.title_wrap {
	text-align: center;
    margin-bottom: 15px;
    padding-top: 15px;
}

.main_tit {
    font-size: 2.2rem;
    text-transform: uppercase;
    display : inline-block;
    font-weight:600;
}

#mask {
	  position:absolute;  
      z-index:9000;  
      background-color:#000;  
      display:none;  
      left:0;
      top:0;
}


.floater {
	float:left;
	height:50%;
	margin-bottom:-120px;
}

.modal {
    position: fixed;
    left: 50%;
    top: 37%;
    transform:translateX(-50%);
    
    width: 21rem;
    
    z-index: 9999;
    background-color: white;
    border-radius: 5px;
    display: none;
    
   box-shadow: 4px 4px 17px 1px grey;
}

.modal .row {
	padding: 14px;
}
.modal .modal_header {
	text-align: left;	
	border-bottom : 1px solid #e6e6e6;
	
	padding-left: 20px
}
.modal .modal_title {
	font-size : 1.3rem;
	display : inline-block;
}
.modal .modal_body {
	font-size:1.0rem;
}

.close_btn{
	display : inline-block;
	cursor: pointer; 
	border: none;
    line-height: 1.5rem;
    width: 1.6rem;
    border-radius: 13px;
    position : absolute;
    right : -13px;
}

.modal.close_btn{
	float : right;
}

.small_btn {
	display : inline-block;
    padding: 0.5em;
	border: none;
    border-radius: 5px;
	cursor: pointer; 
    vertical-align: middle;
}

.normal_btn {
	display : inline-block;
    padding: 0.8em;
	border: none;
    border-radius: 5px;
	cursor: pointer; 
    vertical-align: middle;
}

.btn:hover {
	background-color: #CACACA;
}

.normal_btn.middle {
	display : inline-block;
	cursor: pointer; 
	border: none;
	padding: 0.8em;
    border-radius: 5px;
}

.tab_btn {
	display: inline-block;
    cursor: pointer;
    border: none;
    height: 1.6rem;
    width: 5.5rem;
   	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal .modal_body {
	border-bottom: 1px solid #e6e6e6;
	text-align: center;
}

.modal .modal_footer {
	text-align: right;
}

.center_wrap {
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}

.layer {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba( 0, 0, 0, 0.6);
}

/** 댓글 **/
.reply_ul {
	text-align: left;
	padding: 1.5em;
}

.reply_li {
	flex-wrap: wrap;
	display: flex;
	position: relative;
	width: 100%;
	min-height: 8vh;
	border-bottom: 1px solid #CACACA;
	align-items: center;
	
	padding-top: 0.6em;
    padding-bottom: 0.6em;
    
    justify-content: flex-end;
}

.reply_write_li {
	flex-wrap: wrap;
	flex-direction: column;
	display: flex;
	position: relative;
	width: 100%;
	min-height: 8vh;
	border-bottom: 1px solid #CACACA;
	align-items: center;
	
	padding-top: 0.6em;
    padding-bottom: 0.6em;
    
    justify-content: center;
}

.reply_li .reply_thumb_box{
	display: flex;
	height:100%;
    min-width: 7rem;
	align-items: center;
    justify-content: start;
}


.reply_li .reply_thumb_box .thumb {
	display: flex;
    align-items: center;
    justify-content: center;
    
	width: 2rem;
    height: 2rem;
    
    border-radius: 25px;
    margin-right: 0.4em;
    
	font-size: 1.7rem;
}

.reply_li .reply_thumb_box .userid {
	font-weight: 600;
    font-size: 0.8rem;
}

.reply_li .reply_content_box {
	width: 80%;
    height: 100%;
    text-align: left;
    font-size: 0.8rem;
    
}

.reply_paging_box {
	flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reply_paging_box ul{
	display: flex;
    flex-direction: row;
    font-weight: 600;
}

.reply_paging_box ul li{
    margin-right: 1.5em;
}

textarea {
	width: 100%;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	resize: none;
}

.reply_write_box {
	display: flex;
    width: 90%;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.reply_btn_box {
	justify-content: flex-end;
	display: flex;
	margin-top: 1em;
}