.btn_normal{
    display: inline-block;
    line-height: 35px;
    text-align: center;
    font-weight: 600;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 20px;
    background: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
}
.btn_normal2{
	display: inline-block;
    width: 100%;
    max-width: 110px;
    padding: 11px 0;
    margin: 0 auto;
    margin-top: 30px;
    border: solid 1px #444;
    border-radius: 30px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 300;
    color: #666;
    background-color: transparent;
    transition: .3s ease;
    -webkit-transition: .3s ease;
}
#container_index .cont1 .write_btn:hover{
	opacity:0.5;
	cursor:pointer
}
.btn_normal:hover{
	opacity:0.6;
}

#header{
	height:100px;
	border-bottom:1px solid #ddd;
}
#header .header_inner{
	display: flex;
    min-height: 100px;
    padding: 20px 50px;
    align-items: center;
    background-color: #fff;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    z-index: 9999;

}
#header .header_inner h1{
	width:10%;
}
#header .header_inner nav{
	width:86%;
	text-align:right;
}
#header .header_inner nav li{
	display:inline-block;
	margin-right:65px;
	font-size:18px;
	font-weight:600;
}
#header .header_inner .f_icon{
	display:inline-block;
	width:4%;
	text-align:right;
}

#header .header_inner .login_area{
    width: 100px;
    font-size: 15px;
    font-weight: 400;
    margin-top: 6px;
}

#header .header_inner .login_area .login_icon{
	margin-right: 5px;
}

#footer .inner{
    padding:40px;
    background-color: #222222
}
#footer .inner p{
	color:#666;
	font-size:15px;
	margin-bottom:3px;
}
#footer .inner p.pc3{
	margin-top:18px;
}
#btn_top{
	position:fixed;
	bottom:20px;
	right:50px;
	z-index:999;
	display:none;
}
#btn_top span{
	display:table-cell;
	width:60px;
	height:60px;
	background-color:#DBB557;
	color:#fff;
	border-radius:50px;
	cursor:pointer;
	vertical-align:middle;
	font-size:14px;
	text-align:center;
}
#btn_top span:before{
	display:block;
	content:url(/resources/images/common/top_arr.png);
}

.container {
	margin : 0 auto;
	width : 1200px;
}

.container.page_container {
	margin : 0 auto;
	width : 1200px;
    min-height: calc(100vh - 227px);
}

.main_tit {
	padding-top:15px;
	padding-bottom: 15px;
    font-size: 2.9rem;
    text-align: center;
    text-transform: uppercase;
}
