.scroll_btn {
    font-size: 10px;
    text-transform: uppercase;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.scroll_btn .mouse {
    position: relative;
    display: block;
    width: 26px;
    height: 36px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #2b2726;
    border-radius: 23px;
    background: #fff;
    -webkit-animation: mouse 2s ease infinite;
    -moz-animation: mouse 2s linear infinite;
    animation: mouse 2s ease infinite;
    font-weight : bolder
	
}
.scroll_btn .mouse > * {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 4px;
    height: 4px;
    margin: -2px 0 0 -2px;
    background: #2b2726;
    border-radius: 50%;
    -webkit-animation: ani-mouse 2.5s linear infinite;
    -moz-animation: ani-mouse 2.5s linear infinite;
    animation: ani-mouse 2.5s linear infinite;
}

.main_visual_wrap {
	background-color: #EFEFEF;
}

.main_visual {
	height : 100vh;
	position : relative;
}

.main_visual .slider {
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(/resources/images/index/church.jpg)no-repeat top center;
    background-size: cover;
    background-position: center;
}

.main_visual .slider.fixed {
	position:fixed;
}

.section_wrap {
	position:relative;
	background-color: #fff;
}

.even_row {
	background-color: #FAFBFD;
}

.even_row .gallery_li li {
	height: 20vh;
    width : calc(25% - 35px);
    /* width: calc(25% - 28px); */
    margin: 0.9em;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.even_row .gallery_li li .thumbnail {
	background-color : white;
}

.main_row2 .table {
	width : 100%;
	font-size : 19px;
}

.main_row2 {
}

.main_row4 {
}

.main_row4 ul li {
    padding-right: 14px;
    padding-left: 14px;
    border-right: 1px solid #fefefe;
    position: relative;
    width: calc(33% - 30px);
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    max-height: 325px;
    min-height: 33vh;
}

.main_row4 ul li div{
	width:85%;
	margin:0 auto;
}


.main_row4 .thumb {
	border-radius : 40px
}

.main_row4 .desc .desc_title{
	line-height: 76px;
    text-align: center;
    border: 20px, 0px, 20px, 0px;
    font-size: 33px;
    font-weight: 400;
}

.main_row4 .desc .desc_content{
	font-size: 20px;
    line-height: 60px;
}

.notice_wrap {
	min-height : 242px;
}


.bx-wrapper {
	-webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    background: none !important;
    margin: 0 auto !important;
}

.bx-wrapper .bx-prev {
    left: -36px !important;
    z-index: 9000 !important; 
} 

.bx-wrapper .bx-next {
    right: -36px !important;
	z-index: 9000 !important;
}

.main_row2 .swipe_wrap li{
    /* position: relative; */
    /* width: calc(25%); */
    /* margin: 15px; */
}


.swipe_wrap li .notice_box{
	border: 1px solid lightgray;
    padding: 40px 25px 30px 25px;
    height: 140px;
    /* background-color: #f5f5f5; */
}

.notice_box a {
}

.notice_box a .main_notice {
	font-size: 22px;
    font-weight: 500;
    color: #222;
    letter-spacing: -1px;
    line-height: 1.2;
    height: 120px;
}

.notice_box a .sub_notice {
	font-size: 16px;
    font-weight: 700;
    color: #808080;
    letter-spacing: -1px;
    line-height: 1.2;
    text-align: right;
}

.viewmore_wrap {
	padding-bottom: 20px;
}
.view_btn {
    display: block;
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 10px 0;
    border: solid 1px lightgray;
    border-radius: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.75rem;
    background: transparent;
    transition: .3s ease;
    -webkit-transition: .3s ease;
}

.viewmore_btn{
	display: block;
    text-align: right;
	font-size : 1rem;
	padding-right : 10px;
	text-decoration: underline;
}

.book_li {
	text-align : center;
}

.main_row3 li {
	position: relative;
    width : calc(30%);
    margin-right: 1.5em;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    
    max-height : 325px;
   	min-height: 52vh;
   	
   	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.book_li li .thumb {
	position:relative;
	min-height: 25vh;
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid #efefef;
    
	/* text-align : center; */
}

.book_li li .thumb img{
	max-height: 25vh;
}

.book_li li .desc {
	padding: 10px;
	line-height:19px;
}

.book_li li .book_title {
	/* text-align: center; */
    display: block;
	font-size: 1.1rem;
	margin-bottom: 10px;
}

.book_li li .desc .book_author {
	font-size : 15px;
	margin-top: 10px;
}
 
.gallery_li li {
	position: relative;
    width: calc(25% - 28px);
    height: 30vh;
    margin: 11px;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    border: solid 1px #eee;
}

.gallery_li .desc {
/* 	line-height: 1.1vw;
	padding: 15px 10px;
 */ 
	position: absolute;
    height: 25%;   
    text-align: center;
	border-top: 1px solid #eee !important;
    overflow: hidden;
    border-top: 0;
    /* position: absolute; */
    bottom: 0;
    left: 0;
    right: 0;	
}

.gallery_li .desc .desc_content{    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery_li .thumb {
    overflow: hidden;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    height:75%;
}

section .gallery_li .thumb {
    height:100%;
}


.gallery_li .yesupload .thumb {
    background-color: #fde7e7;
}

.gallery_li .noupload .thumb {
    background-color: #FFF8D4;
}

.no_image {
	font-size : 4rem;
	color : #DDDDDD;
}

.photo-cntbox {
	background-color: #DDDDDD;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5em;
    opacity: 0.5;
}

.gallery_li .noupload .thumb .question {
	top: 35px;
    left: 124px;
    display: block;
    font-size: 125px;
    color: #333;
    position: absolute;
    transition: 0.2s all ease-out
}

@-webkit-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@-moz-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@-ms-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@keyframes mouse{
	0%{transform:translateY(0);}
	50%{transform:translateY(15px);}
	100%{transform:translateY(0px);}
}
@-webkit-keyframes mouse{
	0%{transform:translateY(0);}
	50%{transform:translateY(15px);}
	100%{transform:translateY(0);}
}
@-moz-keyframes mouse{
	0%{transform:translateY(0);}
	50%{transform:translateY(15px);}
	100%{transform:translateY(0);}
}
@-ms-keyframes mouse{
	0%{transform:translateY(0);}
	50%{transform:translateY(15px);}
	100%{transform:translateY(0);}
}