#container_index{
	padding-top:96px;
	padding-bottom:430px;
	background:url(/resources/images/index/bg_crt.png) no-repeat center bottom;
	background-color:#8ed9f9;
}
#container_index .cont1{
	width:1200px;
	margin:0 auto;
}
#container_index .cont1 h2{
	margin-bottom: 35px;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}
#container_index .cont1 ul{
	overflow:hidden;
}
#container_index .cont1 ul li{
	float:left;
	width:calc(25% - 22px);
	margin:11px;
	border-radius:20px;
	overflow:hidden;
}
#container_index .cont1 ul li a>.preview{
	height:198px;
	overflow:hidden;
}
#container_index .cont1 ul li:nth-child(5){clear:both}
#container_index .cont1 ul li a>div:nth-child(1){
	background-color:#fde7e7;
	transition: all .2s ease-in-out;
}
#container_index .cont1 ul li:nth-child(1):hover  a>div:nth-child(1){background-color:#ffa09c;}
#container_index .cont1 ul li:nth-child(2):hover  a>div:nth-child(1){background-color:#fdcb80;}
#container_index .cont1 ul li:nth-child(3):hover  a>div:nth-child(1){background-color:#fcaec7;}
#container_index .cont1 ul li:nth-child(4):hover  a>div:nth-child(1){background-color:#47d4ff;}
#container_index .cont1 ul li:nth-child(5):hover  a>div:nth-child(1){background-color:#ddd658;}
#container_index .cont1 ul li:nth-child(6):hover  a>div:nth-child(1){background-color:#c0cb4d;}
#container_index .cont1 ul li:nth-child(7):hover  a>div:nth-child(1){background-color:#f6d726;}
#container_index .cont1 ul li:nth-child(8):hover  a>div:nth-child(1){background-color:#febcd8;}
#container_index .cont1 ul li:nth-child(9):hover  a>div:nth-child(1){background-color:#ffbab8;}
#container_index .cont1 ul li:nth-child(10):hover  a>div:nth-child(1){background-color:#dab970;}
#container_index .cont1 ul li:nth-child(11):hover  a>div:nth-child(1){background-color:#7ecd9d;}
#container_index .cont1 ul li:nth-child(12):hover  a>div:nth-child(1){background-color:#c2c0c0;}
#container_index .cont1 ul li:nth-child(13):hover  a>div:nth-child(1){background-color:#79d3f6;}
#container_index .cont1 ul li:nth-child(14):hover  a>div:nth-child(1){background-color:#f0bd90;}
#container_index .cont1 ul li:nth-child(15):hover  a>div:nth-child(1){background-color:#70c6fa;}
#container_index .cont1 ul li:nth-child(16):hover  a>div:nth-child(1){background-color:#dab970;}

#container_index .cont1 ul li a  img{
	width:100%;
}
#container_index .cont1 ul li a>div:nth-child(2){
	padding:15px 10px;
	background-color:#fff;
	text-align:center;
	font-weight:300;
}
#container_index .cont1 ul li a>div:nth-child(2) h3{
	color:#444;
	font-size:23px;
	margin-bottom:1px;
	font-weight:600;
}
#container_index .cont1 ul li a>div:nth-child(2) p{
	color:#ccc;
	font-size:12px;
	font-weight:600;
}